<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caipiao.app.dao.mapper.TabUserBasicInfomationMapper">
    <resultMap id="BaseResultMap" type="com.caipiao.app.dao.TabUserBasicInfomation">
        <id column="userid" property="userid" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="yhdh" property="yhdh" jdbcType="VARCHAR"/>
        <result column="yhlx" property="yhlx" jdbcType="INTEGER"/>
        <result column="lrrq" property="lrrq" jdbcType="TIMESTAMP"/>
        <result column="lrry" property="lrry" jdbcType="INTEGER"/>
        <result column="txurl" property="txurl" jdbcType="VARCHAR"/>
        <result column="xgrq" property="xgrq" jdbcType="TIMESTAMP"/>
        <result column="zzid" property="zzid" jdbcType="VARCHAR"/>
        <result column="yxbz" property="yxbz" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.caipiao.app.dao.TabUserBasicInfomation" extends="BaseResultMap">
        <result column="yhnc" property="yhnc" jdbcType="VARBINARY"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    userid, username, yhdh, yhlx, lrrq, lrry, txurl, xgrq, zzid, yxbz
  </sql>
    <sql id="Blob_Column_List">
    yhnc
  </sql>
    <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs"
            parameterType="com.caipiao.app.dao.TabUserBasicInfomationExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from tab_user_basic_infomation
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.caipiao.app.dao.TabUserBasicInfomationExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from tab_user_basic_infomation
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from tab_user_basic_infomation
        where userid = #{userid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tab_user_basic_infomation
    where userid = #{userid,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.caipiao.app.dao.TabUserBasicInfomationExample">
        delete from tab_user_basic_infomation
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.caipiao.app.dao.TabUserBasicInfomation">
    insert into tab_user_basic_infomation (userid, username, yhdh, 
      yhlx, lrrq, lrry, 
      txurl, xgrq, zzid, 
      yxbz, yhnc)
    values (#{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{yhdh,jdbcType=VARCHAR}, 
      #{yhlx,jdbcType=INTEGER}, #{lrrq,jdbcType=TIMESTAMP}, #{lrry,jdbcType=INTEGER}, 
      #{txurl,jdbcType=VARCHAR}, #{xgrq,jdbcType=TIMESTAMP}, #{zzid,jdbcType=VARCHAR}, 
      #{yxbz,jdbcType=VARCHAR}, #{yhnc,jdbcType=VARBINARY})
  </insert>
    <insert id="insertSelective" parameterType="com.caipiao.app.dao.TabUserBasicInfomation">
        insert into tab_user_basic_infomation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userid != null">
                userid,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="yhdh != null">
                yhdh,
            </if>
            <if test="yhlx != null">
                yhlx,
            </if>
            <if test="lrrq != null">
                lrrq,
            </if>
            <if test="lrry != null">
                lrry,
            </if>
            <if test="txurl != null">
                txurl,
            </if>
            <if test="xgrq != null">
                xgrq,
            </if>
            <if test="zzid != null">
                zzid,
            </if>
            <if test="yxbz != null">
                yxbz,
            </if>
            <if test="yhnc != null">
                yhnc,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userid != null">
                #{userid,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="yhdh != null">
                #{yhdh,jdbcType=VARCHAR},
            </if>
            <if test="yhlx != null">
                #{yhlx,jdbcType=INTEGER},
            </if>
            <if test="lrrq != null">
                #{lrrq,jdbcType=TIMESTAMP},
            </if>
            <if test="lrry != null">
                #{lrry,jdbcType=INTEGER},
            </if>
            <if test="txurl != null">
                #{txurl,jdbcType=VARCHAR},
            </if>
            <if test="xgrq != null">
                #{xgrq,jdbcType=TIMESTAMP},
            </if>
            <if test="zzid != null">
                #{zzid,jdbcType=VARCHAR},
            </if>
            <if test="yxbz != null">
                #{yxbz,jdbcType=VARCHAR},
            </if>
            <if test="yhnc != null">
                #{yhnc,jdbcType=VARBINARY},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.caipiao.app.dao.TabUserBasicInfomationExample"
            resultType="java.lang.Integer">
        select count(*) from tab_user_basic_infomation
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update tab_user_basic_infomation
        <set>
            <if test="record.userid != null">
                userid = #{record.userid,jdbcType=INTEGER},
            </if>
            <if test="record.username != null">
                username = #{record.username,jdbcType=VARCHAR},
            </if>
            <if test="record.yhdh != null">
                yhdh = #{record.yhdh,jdbcType=VARCHAR},
            </if>
            <if test="record.yhlx != null">
                yhlx = #{record.yhlx,jdbcType=INTEGER},
            </if>
            <if test="record.lrrq != null">
                lrrq = #{record.lrrq,jdbcType=TIMESTAMP},
            </if>
            <if test="record.lrry != null">
                lrry = #{record.lrry,jdbcType=INTEGER},
            </if>
            <if test="record.txurl != null">
                txurl = #{record.txurl,jdbcType=VARCHAR},
            </if>
            <if test="record.xgrq != null">
                xgrq = #{record.xgrq,jdbcType=TIMESTAMP},
            </if>
            <if test="record.zzid != null">
                zzid = #{record.zzid,jdbcType=VARCHAR},
            </if>
            <if test="record.yxbz != null">
                yxbz = #{record.yxbz,jdbcType=VARCHAR},
            </if>
            <if test="record.yhnc != null">
                yhnc = #{record.yhnc,jdbcType=VARBINARY},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExampleWithBLOBs" parameterType="map">
        update tab_user_basic_infomation
        set userid = #{record.userid,jdbcType=INTEGER},
        username = #{record.username,jdbcType=VARCHAR},
        yhdh = #{record.yhdh,jdbcType=VARCHAR},
        yhlx = #{record.yhlx,jdbcType=INTEGER},
        lrrq = #{record.lrrq,jdbcType=TIMESTAMP},
        lrry = #{record.lrry,jdbcType=INTEGER},
        txurl = #{record.txurl,jdbcType=VARCHAR},
        xgrq = #{record.xgrq,jdbcType=TIMESTAMP},
        zzid = #{record.zzid,jdbcType=VARCHAR},
        yxbz = #{record.yxbz,jdbcType=VARCHAR},
        yhnc = #{record.yhnc,jdbcType=VARBINARY}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update tab_user_basic_infomation
        set userid = #{record.userid,jdbcType=INTEGER},
        username = #{record.username,jdbcType=VARCHAR},
        yhdh = #{record.yhdh,jdbcType=VARCHAR},
        yhlx = #{record.yhlx,jdbcType=INTEGER},
        lrrq = #{record.lrrq,jdbcType=TIMESTAMP},
        lrry = #{record.lrry,jdbcType=INTEGER},
        txurl = #{record.txurl,jdbcType=VARCHAR},
        xgrq = #{record.xgrq,jdbcType=TIMESTAMP},
        zzid = #{record.zzid,jdbcType=VARCHAR},
        yxbz = #{record.yxbz,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.caipiao.app.dao.TabUserBasicInfomation">
        update tab_user_basic_infomation
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="yhdh != null">
                yhdh = #{yhdh,jdbcType=VARCHAR},
            </if>
            <if test="yhlx != null">
                yhlx = #{yhlx,jdbcType=INTEGER},
            </if>
            <if test="lrrq != null">
                lrrq = #{lrrq,jdbcType=TIMESTAMP},
            </if>
            <if test="lrry != null">
                lrry = #{lrry,jdbcType=INTEGER},
            </if>
            <if test="txurl != null">
                txurl = #{txurl,jdbcType=VARCHAR},
            </if>
            <if test="xgrq != null">
                xgrq = #{xgrq,jdbcType=TIMESTAMP},
            </if>
            <if test="zzid != null">
                zzid = #{zzid,jdbcType=VARCHAR},
            </if>
            <if test="yxbz != null">
                yxbz = #{yxbz,jdbcType=VARCHAR},
            </if>
            <if test="yhnc != null">
                yhnc = #{yhnc,jdbcType=VARBINARY},
            </if>
        </set>
        where userid = #{userid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.caipiao.app.dao.TabUserBasicInfomation">
    update tab_user_basic_infomation
    set username = #{username,jdbcType=VARCHAR},
      yhdh = #{yhdh,jdbcType=VARCHAR},
      yhlx = #{yhlx,jdbcType=INTEGER},
      lrrq = #{lrrq,jdbcType=TIMESTAMP},
      lrry = #{lrry,jdbcType=INTEGER},
      txurl = #{txurl,jdbcType=VARCHAR},
      xgrq = #{xgrq,jdbcType=TIMESTAMP},
      zzid = #{zzid,jdbcType=VARCHAR},
      yxbz = #{yxbz,jdbcType=VARCHAR},
      yhnc = #{yhnc,jdbcType=VARBINARY}
    where userid = #{userid,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.caipiao.app.dao.TabUserBasicInfomation">
    update tab_user_basic_infomation
    set username = #{username,jdbcType=VARCHAR},
      yhdh = #{yhdh,jdbcType=VARCHAR},
      yhlx = #{yhlx,jdbcType=INTEGER},
      lrrq = #{lrrq,jdbcType=TIMESTAMP},
      lrry = #{lrry,jdbcType=INTEGER},
      txurl = #{txurl,jdbcType=VARCHAR},
      xgrq = #{xgrq,jdbcType=TIMESTAMP},
      zzid = #{zzid,jdbcType=VARCHAR},
      yxbz = #{yxbz,jdbcType=VARCHAR}
    where userid = #{userid,jdbcType=INTEGER}
  </update>
</mapper>